.navbar__toggle {
    height: 58px;
    width: 58px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.toggle__span {
    border: 1px solid white;
    width: 50px;
    transform-origin: center;
    position: absolute;

    &:first-child {
        transform: translateY(-5px);
    }

    &:last-child {
        transform: translateY(5px);
    }
}

.navbar.navbar_open {
    .toggle__span {
        &:first-child {
            transform: translateY(0) rotate(-45deg);
        }

        &:last-child {
            transform: translateY(0) rotate(45deg);
        }
    }
}