doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
        block title
            title webpack Project

    body
        include ../fragments/navbar
        include ../fragments/header
            
        main 
            include ../fragments/block-2
            include ../fragments/block-3

        footer.footer
            span.footer__label © копирайт. 2019
            img(src="../../assets/images/logo-copyrate.png", alt="", srcset="").footer__logo