section.section.section_end
    .section__title Третий блок
    .categories
        .categories__item.categories__item_primary 2019
        .categories__item 2018
        .categories__item 2017
        .categories__item 2016
        .categories__item 2015
        .categories__item 2014
        .categories__item 2013
        .categories__item 2012
        .categories__item 2011
    .panels-group
        .panel
            img(src="/assets/images/banners/facebook.png").panel__banner
            .panel__title Lorem ipsum dolor sit amet.
            .panel__body Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla interdum felis placerat vulputate.
        .panel
            img(src="/assets/images/banners/sony.png").panel__banner
            .panel__title Lorem ipsum dolor sit amet.
            .panel__body Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla interdum felis placerat vulputate.
        .panel
            img(src="/assets/images/banners/amazon.png").panel__banner
            .panel__title Lorem ipsum dolor sit amet.
            .panel__body Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla interdum felis placerat vulputate.
        .panel
            img(src="/assets/images/banners/unknow.png").panel__banner
            .panel__title Lorem ipsum dolor sit amet.
            .panel__body Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla interdum felis placerat vulputate.

        .panel
            img(src="/assets/images/banners/facebook.png").panel__banner
            .panel__title Lorem ipsum dolor sit amet.
            .panel__body Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla interdum felis placerat vulputate.
        .panel
            img(src="/assets/images/banners/sony.png").panel__banner
            .panel__title Lorem ipsum dolor sit amet.
            .panel__body Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla interdum felis placerat vulputate.
        .panel
            img(src="/assets/images/banners/amazon.png").panel__banner
            .panel__title Lorem ipsum dolor sit amet.
            .panel__body Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla interdum felis placerat vulputate.
        .panel
            img(src="/assets/images/banners/unknow.png").panel__banner
            .panel__title Lorem ipsum dolor sit amet.
            .panel__body Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla interdum felis placerat vulputate.