img(src="../../assets/images/фон для шапки.jpg", alt="").header__img
.header
    .header__space
    .header__title lorem ipsum dolor sit amet
    .header__subtitle 
        span.primary-text lorem 
        |ipsum dolor sit amet

    .header__awards
        .awards__item
            img(src="../../assets/images/idol-1.png", alt="").awards__award
            img(src="../../assets/images/world-icon.png", alt="").awards__country
            span.awards__label.awards__label_primary Lorem ipsum dol
        .awards__item
            img(src="../../assets/images/idol-2.png", alt="").awards__award
            img(src="../../assets/images/european-union-icon.png", alt="").awards__country
            span.awards__label Lorem ipsum dol
        .awards__item
            .awards__award
                img(src="../../assets/images/Medal.png", alt="").award__img
            img(src="../../assets/images/russia-icon.png", alt="").awards__country
            span.awards__label Lorem ipsum dol
        .awards__item
            img(src="../../assets/images/idol-2.png", alt="").awards__award
            img(src="../../assets/images/european-union-icon.png", alt="").awards__country
            span.awards__label Lorem ipsum dol

    .header__button Lorem ipsum dol