.navbar
    .navbar__header
        .navbar__logo LOGO
        .navbar__links
            a(href="#").navbar__link 
                img(src="/assets/images/phone.png", alt="").link__img
                .link__text 8 499 999 99 99

            a(href="#").navbar__link
                img(src="/assets/images/vk-logo.png", alt="").link__img
            a(href="#").navbar__link
                img(src="/assets/images/instagram-logo.png", alt="").link__img

            .navbar__toggle
                span.toggle__span
                span.toggle__span

    .navbar__menu
        .navbar__links
            a(href="#").navbar__link 
                img(src="/assets/images/phone.png", alt="").link__img
                .link__text 8 499 999 99 99
        .navbar__item пункт меню 1
        .navbar__item пункт меню 2
        .navbar__item пункт меню 3
        .navbar__item пункт меню 4
        .navbar__item пункт меню 5

        .navbar__links
            a(href="#").navbar__link
                img(src="/assets/images/vk-logo.png", alt="").link__img
            a(href="#").navbar__link
                img(src="/assets/images/instagram-logo.png", alt="").link__img