.slide
    .slide__content
        .slide__title лоремова
        .slide__subtitle ипсума анатольевна
        
        p.slide__hint lorem ipsum dolor

        button.slide__btn-to-hide Скрыть
        
        ul.slide__list
            li.slide__list-item
                span lorem ipsum dolor
            li.slide__list-item
                span lorem ipsum dolor
            li.slide__list-item
                span lorem ipsum dolor
            li.slide__list-item
                span lorem ipsum dolor
            li.slide__list-item
                span lorem ipsum dolor
            li.slide__list-item
                span lorem ipsum dolor

        div.slide__h lorem ipsum dolor
        p.slide__p lorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolor

        div.slide__h lorem ipsum dolor
        p.slide__p lorem ipsum dolor lorem ipsum dolor


    img(src="/assets/images/slide-photo.png").slide__image